.grid-tile-container {
    height: 160px;
}

.tile {
    height: 100%;
    width: 100%;
    padding: 2px;
    margin: 1px;
    justify-content: center;
}

.tile-stretch {
    height: 100%;
}

.tile-text {
    border-left: 1px solid rgba(1,118,211,255);
    margin-left: 2px;
    padding: 2px
}

.tile-text-name {
    height: 15%;
    font-size: 16px;
    font-weight: bold;
}

.tile-text-bottom-grid {
    border-top: 1px solid rgba(1,118,211,255);
    height: 100%;
    width: 100%;
    align-items: center;
}

.tile-text-bottom-price {
    font-size: 18px;
    font-weight: bold;
}